form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

button {
    color: white;
    font-size: 35px;
    font-weight: bolder;
    border-radius: 15px;
    background-color: red;
    height: auto;
    width: 400px;
    justify-content: center;
    padding:10px 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

button:hover {
    transform: translateY(2px);
    box-shadow: 0 0 2px black;
}
button:active {
    transform: translateY(4px);
    box-shadow: 0 0 4px black;
}

input{
    height: 50px;
    width: 400px;
    border-radius: 10px;
    font-size: 20px;
}